{% extends 'navprayas/base.html' %} {% load static %} {% block title %}Navprayas Events{% endblock %} {% block content %}
<!-- Start Achivement Area -->
<section class="section-gap achivement-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-15">
                <div class="achivement-content">
                    <h2 class="text-center">Our Events</h2>
                    <h4 class="text-center">We think together in better way for spreading the light of education, matching the present scenario and other technical/non-technical developments in Manpur. We as a team leave no stone unturned in honouring them who set a milestone
                        in dignifying our society through their dormant achievements. We, group of positive thinkers, feel that a lot needs to be done, can be done & should be done to bring it at par with rest of society. Every year, it adds new members
                        with hidden dedications pouring into various events to make it a grand success. Since the inception of Navprayas, following events have been organized under its banner.</h4><br>
                </div>
            </div>
        </div>
        <div class="white-bg">
            <div class="container">
                <div class="section-top-border">

                    <div class="row gallery-item">
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/mtseposter.jpeg' %}" class="img-pop-up">
                                <img src="{% static 'img/mtseexam.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>

                            <a href="/events/#mtse" class="primary-btn">MTSE<span class="lnr lnr-arrow-right"></span></a><br>
                        </div>
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/puzzlerace.jpeg' %}" class="img-pop-up">
                                <img src="{% static 'img/puzzle.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>
                            <a href="/events/#puzzlerace" class="primary-btn">Puzzle race<span class="lnr lnr-arrow-right"></span></a><br>
                        </div>
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/navRachna2020.jpeg' %}" class="img-pop-up">
                                <img src="{% static 'img/models.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>
                            <a href="/events/#navrachna" class="primary-btn">Navrachna<span class="lnr lnr-arrow-right"></span></a><br>
                        </div><br>
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/syncWithDancePoster.jpeg' %}" class="img-pop-up">
                                <img src="{% static 'img/dance.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>
                            <a href="/events/#swd" class="primary-btn">SyncWithDance<span class="lnr lnr-arrow-right"></span></a><br>
                        </div><br>
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/Kaavyakala.jpeg' %}" class="img-pop-up">
                                <img src="{% static 'img/spr.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>
                            <a href="/events/#spr" class="primary-btn">Kaavyakala<span class="lnr lnr-arrow-right"></span></a><br>
                        </div><br>
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/CAREER.jpg' %}" class="img-pop-up">
                                <img src="{% static 'img/careerc.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>
                            <a href="/events/#careerc" class="primary-btn">Career counselling<span class="lnr lnr-arrow-right"></span></a><br>
                        </div><br>
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/code mantra.jpg' %}" class="img-pop-up">
                                <img src="{% static 'img/code.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>
                            <a href="/events/#codemantra" class="primary-btn">Code Mantra<span class="lnr lnr-arrow-right"></span></a><br>
                        </div>
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/Thevocalist.jpg' %}" class="img-pop-up">
                                <img src="{% static 'img/Thevocalist.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>
                            <a href="/events/#thevocalist" class="primary-btn">The Vocalist<span class="lnr lnr-arrow-right"></span></a><br>
                        </div><br>
                        <div class="col-md-4" style="padding: 2mm">
                            <a href="{% static 'img/ishtiharposter.jpg' %}" class="img-pop-up">
                                <img src="{% static 'img/istehaar.jpeg' %}" alt="MTSE" class="img-fluid"><br><br></a>
                            <a href="/events/#istehaar" class="primary-btn">इश्तिहार-ए-कला<span class="lnr lnr-arrow-right"></span></a><br>
                        </div>
                        <!-- <div class="col-md-4" style="padding: 2mm">
							<a href="{% static 'img/PTDay3.jpeg' %}" class="img-pop-up">
						<img src="{% static 'img/pTalks.jpg' %}" alt="MTSE" class="img-fluid"><br><br></a>
						<a href="/events/#profTalks" class="primary-btn">Professional Talks (Day 3)<span class="lnr lnr-arrow-right"></span></a><br>
					</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Achivement Area -->
<section class="about-generic-area" id="mtse">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">MTSE 2021</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">

                    <p class="text-white"><strong>About</strong><br>MTSE which stands for Manpur Talent Search Examination, is the flagship event of Navprayas. This is one of the regular events of Navprayas conducted each year to ignite the flame of competition from junior
                        classes itself. We have objective type question paper and GD/Extempore/speech and interview in the first and second round respectively for classes 5 to 10.<br><br><strong>Total number of rounds- 2(Mains and Interview)</strong><br>                        Mode of examination- Online<br> Language- Hindi and English<br>Subjects: Science, Maths, Reasoning, S.St, G.K(current affairs), English
                        <br><br> Fee- Free of Cost<br><br><br>
                        <strong>Eligibilty</strong> <br>1. Participant should be a citizen of India.<br>2. Participants should be enrolled in any Educational Institutions(schools/coaching).<br>3. Students currently studing in class 5 to 10 are allowed
                        to enroll for this examination.<br><br> <strong>Important Dates</strong><br> ● Registration starts: 16 May, 2021<br> ● Registration ends: 9 June, 2021<br> ● Mock Test: 10 June, 2021 to 12 June, 2021<br> ● MTSE 1st Stage Exam(Mains):
                        13 June, 2021<br> ● 1st Stage Answer Key Release: 14 June, 2021<br> ● 1st Stage Result: 17 June, 2021<br> ● Exam of 2nd Stage(Online Interview): 20 June, 2021<br> ● Final result: 27 June, 2021<br>
                    </p>
                    <a href="http://url.navprayas.in/MTSE2021" target="blank" class="genric-btn primary circle">Click here to Register</a>
                    <a href="{% static 'rules/Navprayas_MTSE_2021.pdf' %}" class="genric-btn primary circle" target="blank">Know more</a>
                    <a href="http://link.navprayas.in/mtse_tutorial" class="genric-btn primary circle">Video Tutorial to fill form</a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-generic-area" id="puzzlerace">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">Puzzle Race<br><span><h4 class="text-white">Let The Wits Race Against Time</h4></span></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white"><strong><br>About</strong>
                        <br>This event is organised for students of the class 7 to 10. The main objective of this event is to develop the ability of puzzle solving skills among students.<br><br>Questions pattern- Puzzles and riddles <br>Syllabus - Maths
                        & General Reasoning<br> Mode of Examination- Online
                        <br> Language- English<br> Total number of round- 1<br> Participation: Individual<br> Registration fee - Free of Cost<br><br>
                        <strong>Eligibilty</strong><br>1. Students should be a citizen of India.
                        <br>2. Participants should be enrolled in any Educational Institutions(schools/coaching).<br>3. Students currently studing in class 7/8/9/10 are allowed to enroll for this examination.<br>
                        <br>
                        <strong>Groups</strong><br> Junior : VII & VIII<br> Senior : IX & X<br>
                        <br><strong>Important Dates</strong><br> Registration starts- 20 May,2021<br><br>
                        <strong>Coming soon</strong><br>Stay tuned with us for more information.</p>
                    <!-- <a href="http://link.navprayas.in/puzzle-race" class="genric-btn primary circle">Click here to Register</a> -->
                    <!-- <a href="{% static 'rules/Puzzle Race 2020.pdf' %}" class="genric-btn primary circle" target="blank">Know more</a> -->
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-generic-area" id="navrachna">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">NavRachna<br><span><h4 class="text-white">Create with what you want</h4></span></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white"><strong>About</strong><br>This event is mainly being conducted for those people who want to create some mini projects based on their creative and innovative skills. One has to make models with the materials available in their home
                        (some of them have been mentioned below). So, what is a model? Most of you would have heard it for the very first time. Model is a 3D presentation for something that you want to propose or something which you want to make in real
                        life. It should be smaller and less complex than real-life projects. For example, if we want to make a car-model, then we just have to show its structure rather than showing the whole concept. We have to depict everything but it
                        doesn't mean that we have to make the real things.<br><br><strong>Important Dates</strong><br> Registration starts- 28th June, 2021</strong><br><br>
                        <strong>Eligibility</strong><br> No class and age limit.<br> Group of max. 3 members(from same family/house to avoid the spreas of COVID-19)<br>Parents can also take part.<br>
                        <br><strong>Coming soon</strong><br>Stay tuned with us for more information.</p>
                    <!-- </p>
                        <a href="https://bit.ly/navrachna" class="genric-btn primary circle">Click here to Register</a>
                        <a href="{% static 'rules/NAVRACHNA Rules and Instructions.pdf' %}" class="genric-btn primary circle" target="blank">Know more</a>
                        <a href="{% static 'rules/navRachnaSubmissionTutorial.pdf' %}" class="genric-btn primary circle" target="blank">Submission Tutorial</a> -->

                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-generic-area" id="swd">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">SyncWithDance<br><span><h4 class="text-white">Bring it: the next level!</h4></span></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white"><strong>About</strong><br>This is an online solo dance competition to encourage the dancers of the community and to give them a platform to show their talent.<br><br>
                        <strong>Important Dates</strong><br> Registration starts- 4 June,2021<br><br><strong>Eligibility</strong><br>Ages above 5 years<br><br>
                        <strong>Groups</strong><br>Junior(5-15years)<br>Seniors (Above 15 years)<br><br>
                        <strong>Coming soon</strong><br>Stay tuned with us for more information.
                    </p>
                    <!-- <a href="https://bit.ly/syncwithdance" class="genric-btn primary circle">Click here to Register</a> -->
                    <!-- <a href="{% static 'rules/SyncWithDance - Rules and Regulations.pdf' %}" class="genric-btn primary circle" target="blank">Know more</a> -->
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-generic-area" id="spr">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">Kaavyakala<br><span><h4 class="text-white">Spill the ink</h4></span></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white">
                        <strong>About</strong><br>This competition is for everyone who has their way with words, and a penchant for poem and story writing. This event is unique as it provides you the flexibility to choose the language in which you feel
                        comfortable. The languages you can opt for writing are Hindi, English and Regionals(Patwa or Magahi).<br>
                        <br><strong>Eligibility-</strong> Open for all<br><br>
                        <strong>Registration Fee- </strong>Free of Cost<br>
                        <br><strong>Important dates</strong><br> Registration starts- 1st June, 2021<br><br>
                        <strong>Coming soon</strong><br>Stay tuned with us for more information.</p>
                    <!-- <a href="https://bit.ly/kaavyakala" class="genric-btn primary circle">Click here to Register</a>
                    <a href="{% static 'rules/Kaavyakala -Rules and instructions.pdf' %}" class="genric-btn primary circle" target="blank">Know more(English)</a>
                    <a href="{% static 'rules/kaavyakala hindi.pdf' %}" class="genric-btn primary circle" target="blank">Know more(Hindi)</a> -->
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-generic-area" id="careerc">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">Career Counselling</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white">
                        <strong>About</strong><br>A guide for choosing the right career path is a major aspect in one 's life. A decision under the right guidance and with the right information is way better than taking clueless decisions. But don't worry,
                        Navprayas is back again with "Career Counselling" for everyone where professionals will be sharing their experiences and will guide you to the right path. <br><br>Eligibility- Upto 10th passed<br> Fee - Free of cost<br> Guardians
                        are also wholeheartedly welcomed to join.
                        <br><br>
                        <!-- <strong>Important Dates</strong><br> Registration ends: 21st August 2020<br> Session1: For upto 12th appearing students - 23rd Aug. 2020<br> Session2: Professional talks<br>Dates and speakers will be announced soon.<br><br>                        -->
                        <strong>Coming soon</strong><br>Stay tuned with us for more information.
                    </p>
                    <!-- <a href="http://bit.ly/Career_counselling" class="genric-btn primary circle">Click here to Register</a> -->
                    <!-- <a href="{% static 'rules/NAVRACHNA Rules and Instructions.pdf' %}" class="genric-btn primary circle">Know more</a> -->
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-generic-area" id="careerc">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">Awareness Webinar on Covid-19</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white">
                        <strong>About</strong><br>We are conducting this webinar to explore challenges and opportunities for improving safety and health during this pandemic among the population of workers, workplaces and geographies. Also to address
                        the role of vaccines and why it is necessary for us to get vaccinated and also to consider how to support your immune health and mental health during Covid-19.
                        <br><br>
                        <strong>Platform: </strong>Youtube (Live Stream)<br><br><strong>Eligibility</strong><br>Open for all <br>Parents and Guardians are specially advised to join.<br>
                        <br>
                        <strong>Important Dates</strong><br> Poster and Important details release date: 19th May, 2021<br>Event Date: 23rd May, 2021(Sunday)<br>
                        <br><strong>Coming soon</strong><br>Stay tuned with us for more information.
                    </p>
                    <!-- <a href="http://bit.ly/Career_counselling" class="genric-btn primary circle">Click here to Register</a> -->
                    <!-- <a href="{% static 'rules/NAVRACHNA Rules and Instructions.pdf' %}" class="genric-btn primary circle">Know more</a> -->
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-generic-area" id="codemantra">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">Code Mantra<br><span>
            <h4 class="text-white">Debug your soul</h4>
            </span>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white"><strong>About</strong>
                        <br>Navprayas presents one of the most exciting events - “Code Mantra - Debug Your Soul” (A Coding Competition). This event will help students to strengthen their ability to code and students will learn to convert a problem to
                        a code. This event started in the year of 2020 with great success. We had received a lot of participation.In 2020, we had seen the enthusiasm of students to code. Hope to see more enthusiasm this year also.<br><br>
                        <strong>Eligibility</strong><br> Students upto second year can participate.<br>
                        <br><strong>Important Dates
                            </strong><br> Registration starts- 24th May, 2021<br><br><strong>Coming soon</strong><br>Stay tuned with us for more information.</p>
                    </p>
                    <!-- <a href="http://tiny.cc/code-mantra" class="genric-btn primary circle">Click here to Register</a> -->
                    <!-- <a href="{% static 'rules/NAVRACHNA Rules and Instructions.pdf' %}" class="genric-btn primary circle">Know more</a>											 -->
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-generic-area" id="thevocalist">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">The Vocalist<br><span><h4 class="text-white">Open Mic Contest</h4></span></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white"><strong>About</strong><br>It is a singing competition where contestant would get a chance to show case their hidden vocalist within themselves and compete<br><br>
                        <strong>Important Dates</strong><br> Registration starts- 29th May, 2021<br><br>
                        <strong>Eligibility</strong><br> Age group (10-18years)
                        <br>Age group (19-25 years)
                        <br><br><strong>Coming soon</strong><br>Stay tuned with us for more information.</p>
                    <!-- <a href="http://tiny.cc/code-mantra" class="genric-btn primary circle">Click here to Register</a> -->
                    <!-- <a href="{% static 'rules/NAVRACHNA Rules and Instructions.pdf' %}" class="genric-btn primary circle">Know more</a>											 -->
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-generic-area" id="istehaar">
    <div class="overlay overlay-bg"></div>
    <div class="container border-top-generic">
        <h3 class="about-title mb-70 text-white">इश्तिहार-ए-कला<br><span><h4 class="text-white">Awareness by Art</h4></span></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="img-text">
                    <p class="text-white"><strong>About</strong><br>The main objective of this event is to aware people about COVID-19 in every possible aspect and how they react on ongoing social and environmental problems and we are also eager to see their creativity. <br><br>
                        <strong>Important Dates</strong><br> Registration starts- 18th May, 2021
                        <br>Registration deadline- 25th May, 2021
                        <br>Submission period- 26th May, 2021 to 29th May, 2021<br><br>
                        <strong>Eligibility</strong><br>No class & age limit
                        <br>Group of maximum 3 participants from same family.</p>
                    <a href="http://url.navprayas.in/ishtihar-e-kala" class="genric-btn primary circle">Click here to Register</a>
                    <a href="{% static 'rules/ishtihar.pdf' %}" class="genric-btn primary circle">Know more</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- <section class="about-generic-area" id="profTalks">
								<div class="overlay overlay-bg"></div>
								<div class="container border-top-generic">
									<h3 class="about-title mb-70 text-white">Professional Talks (Day 3)<br><span></span></h3>
									<div class="row">
										<div class="col-md-12">
											<div class="img-text">
												<p class="text-white">
												<br>Eligibility - Open for all.<br>
												Fee - Free of cost.<br>
												<br><strong>Important dates</strong><br> Deadline for registraion - 11 September, 2020 (5:00 PM)<br> Event Date - 12 September, 2020<br>
                        <br><strong>Speakers</strong><br> Mr. Lalmani Prasad (Engineering)<br> Mr. Vivek Pateshwari (Entrepreneuship & MBA)<br>
                    </p>
                    <a href="http://link.navprayas.in/professionaltalks-day3" class="genric-btn primary circle">Click here to Register</a>
                </div>
            </div>

        </div>
    </div>
</section> -->
<section class="white-bg" id="gallery">
    <div class="container">
        <div class="section-top-border">
            <h3>Gallery</h3>
            <div class="row gallery-item">
                <div class="col-md-4">
                    <a href="{% static 'img/a3.png' %}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({% static 'img/a3.png' %});"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% static 'img/a4.png' %}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({% static 'img/a4.png' %});"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% static 'img/welcome.png' %}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({% static 'img/welcome.png' %});"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{% static 'img/gpl.png' %}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({% static 'img/gpl.png' %});"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{% static 'img/g4.png' %}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({% static 'img/g4.png' %});"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% static 'img/g6.png' %}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({% static 'img/g6.png' %});"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% static 'img/g1.png' %}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({% static 'img/g1.png' %});"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% static 'img/dhal.png' %}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({% static 'img/dhal.png' %});"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}