{% extends 'navprayas/base.html' %} {% load static %} {% block title %}Navprayas Home{% endblock %} {% block lastUpdated%}
<i style="color: white;font-size: 12px ;">
  Site last Updated at {{lastModified}}
</i> {%endblock%} {% block content %}
<script>
var endtime =  new Date(2021, 5, 10, 10, 0, 0, 0);
const x = setInterval(function() {
    const total = Date.parse(endtime) - Date.parse(new Date());
    const seconds = Math.floor((total / 1000) % 60);
    const minutes = Math.floor((total / 1000 / 60) % 60);
    const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
    const days = Math.floor(total / (1000 * 60 * 60 * 24));
  document.getElementById("demo").innerHTML ='<h2 id = "MTSE">'+ "MTSE Mock test will be "+ "<span style='color: red'> <strong>LIVE</strong></span>"+ " in  "+ days + "d " + hours + "h "
  + minutes + "m " + seconds + "s " + '</h2>';
    
    const b = endtime.getTime();
    const now = new Date().getTime();
    const diff = b - now;
  if (diff < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = '<h2 id = "MTSE">'+ "MTSE Mock test is "+ "<span style='color: red'> <strong>LIVE</strong></span>"+ ". Please visit " + '<a href="http://exams.navprayas.in" target=" blank " class="primary-btn inNotificationArea ">' + "Here" + '</a>' + '</h2>';
  }
}, 1000);
</script>

<style>

    #MTSE {
        animation: animate 0.5s linear infinite;
        text-align: center;
    }
    
    @keyframes animate {
        0% {
            color: brown;
        }
        100% {
            color: darkblue;
        }
    }
</style>

<section class="section-gap achivement-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-15">
                <div class="achivement-content">
                    <h1 class="text-center">Welcome!</h1>
                    <div>
                        <marquee behavior="alternate" direction="right">
                            <h2>All Events are <span style='color: red'> <strong>FREE!</strong></span></h2>
                        </marquee>
                        
                        <!-- <h2 id="puzzlerace">Puzzle Race will be <span style='color: red'> <strong>LIVE</strong></span> at June 6th, 10:00 AM</h2> -->
                        <h2 id="demo"></h2>
                  
                        
                        <br><br>
                        <br>


                        <div id="frontNotificationBox">
                            <h1><u>Notifications</u></h1>

                            <ul>
                                <li>
                                    <h4>Code Mantra Editorial is <span style="color:red"><b>LIVE</b></span></h4>
                                    <a href="{% static 'Question/Codemantra 2021_Editorial.pdf' %}" target=" blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>
                                <li>
                                    <h4>SyncWithDance Registration is <span style="color:red"><b>LIVE</b></span></h4>
                                    <a href="http://url.navprayas.in/SyncWithDance-2021" target=" blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>
                                <li>
                                    <h4>Kaavyakala Registration is <span style="color:red"><b>LIVE</b></span></h4>
                                    <a href="http://url.navprayas.in/kaavyakala-2021" target=" blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>
                                <li>
                                    <h4>The Vocalist Registration is <span style="color:red"><b>LIVE</b></span></h4>
                                    <a href="http://url.navprayas.in/vocalist-2021" target=" blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>
                                <li>
                                    <h4>Awareness Webinar on COVID-19</h4>
                                    <a href="https://www.youtube.com/watch?v=TlF9FfcUDTY&t=1740s " target="blank " class="primary-btn inNotificationArea ">Watch Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>

                                <li>
                                    <h4>NavRachna Registration is <span style="color:red "><b>LIVE</b></span></h4>
                                    <a href=" http://url.navprayas.in/navrachna-2021 " target="blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>
                                <!-- <li>
                                    <h4>Puzzle Race Registration is <span style="color:red "><b>LIVE</b></span></h4>
                                    <a href=" http://url.navprayas.in/puzzle-race-2021 " target="blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                    </li> -->

                                <li>
                                    <h4>MTSE 2021 Registration is <span style="color:red "><b>LIVE</b></span></h4>
                                    <a href=" http://url.navprayas.in/MTSE2021 " target="blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>

                                <li>
                                    <h4>How To Fill MTSE Form (Video Tutorial)</h4>
                                    <a href="http://link.navprayas.in/mtse_tutorial " target="blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>
                                <li>
                                    <h4>MTSE Previous Year Questions Released</h4>
                                    <a href="http://url.navprayas.in/mtse_previous_year " target="blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>
                                <li>
                                    <h4>Puzzle Race Answer Key Released</h4>
                                    <a href="http://url.navprayas.in/puzzlerace2021-answerkey " target="blank " class="primary-btn inNotificationArea ">Click Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>

                                <li>
                                    <h4>In case of any claims regarding Puzzle Race Answer Key</h4>
                                    <a href="http://url.navprayas.in/claim-puzzle-2021 " target="blank " class="primary-btn inNotificationArea ">Claim Here<span class="lnr lnr-arrow-right "></span></a><br>
                                </li>

                            </ul>
                        </div>
                    </div><br><br>

                    <div class="container-fluid " style="background-color: rgba(224, 0, 59, 0.8); ">
                        <br>
                        <!-- <center><h1 style="color: white; ">Navprayas 2021</h1></center> -->
                        <div class="row ">
                            <div class="frontItem col-sm-12 col-md-6 col-lg-6 ">
                                <img src="{% static 'img\vaccinated.jpg' %} " alt="mtse " class="img-fluid poster ">
                            </div>
                            <div class="frontItem col-sm-12 col-md-6 col-lg-6 ">
                                <img src="{% static 'img\Navprayas2021 Timeline.jpeg' %} " alt="mtse " class="img-fluid poster ">
                            </div>
                            <!-- <div class="frontItem col-sm-12 col-md-6 col-lg-6 ">
                                <img src="{% static 'img\All-Webinar.jpg' %} " alt="mtse " class="img-fluid poster ">
                            </div> -->
                        </div>
                    </div>

                    <br><br>

                    <h4 class="text-center ">We feel delighted to announce the advent of upgraded online version of NAVPRAYAS in this pandemic situation.<br> Here we present our events for this year.</h4>
                    <!-- <a href="#gallery " class="primary-btn ">Take a glimpse at our events!<span class="lnr lnr-arrow-right "></span></a> -->
                </div>
            </div>
        </div>
        <div class="white-bg ">
            <div class="container ">
                <div class="section-top-border ">

                    <div class="row gallery-item ">
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/mtseposter.jpeg' %} " class="img-pop-up ">
                                <img src="{% static 'img/mtseexam.jpg' %} " alt="MTSE " class="img-fluid "><br><br></a>

                            <a href="/events/#mtse " class="primary-btn ">MTSE<span class="lnr lnr-arrow-right "></span></a><br>
                        </div>
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/puzzle21.jpeg' %} " class="img-pop-up ">
                                <img src="{% static 'img/puzzle.jpg' %} " alt="MTSE " class="img-fluid "><br><br></a>
                            <a href="/events/#puzzlerace " class="primary-btn ">Puzzle race<span
                  class="lnr lnr-arrow-right "></span></a><br>
                        </div>
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/navrachna2021.jpg' %} " class="img-pop-up ">
                                <img src="{% static 'img/models.jpg' %} " alt="MTSE " class="img-fluid "><br><br></a>
                            <a href="/events/#navrachna " class="primary-btn ">Navrachna<span
                  class="lnr lnr-arrow-right "></span></a><br>
                        </div><br>
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/swd2021.jpeg' %} " class="img-pop-up ">
                                <img src="{% static 'img/dance.jpg' %} " alt="MTSE " class="img-fluid "><br><br></a>
                            <a href="/events/#swd " class="primary-btn ">SyncWithDance<span class="lnr lnr-arrow-right "></span></a><br>
                        </div><br>
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/kaavyakala21.jpeg' %} " class="img-pop-up ">
                                <img src="{% static 'img/spr.jpg' %} " alt="MTSE " class="img-fluid "><br><br></a>
                            <a href="/events/#spr " class="primary-btn ">Kaavyakala<span class="lnr lnr-arrow-right "></span></a><br>
                        </div><br>
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/career2021.jpeg' %} " class="img-pop-up ">
                                <img src="{% static 'img/careerc.jpg' %} " alt="MTSE " class="img-fluid "><br><br></a>
                            <a href="/events/#careerc " class="primary-btn ">Career counselling<span
                  class="lnr lnr-arrow-right "></span></a><br>
                        </div><br>
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/codemantra21.jpeg' %} " class="img-pop-up ">
                                <img src="{% static 'img/code.jpg' %} " alt="MTSE " class="img-fluid "><br><br></a>
                            <a href="/events/#codemantra " class="primary-btn ">Code Mantra<span

                  class="lnr lnr-arrow-right "></span></a><br>
                        </div><br>
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/vocalist.jpg' %} " class="img-pop-up ">
                                <img src="{% static 'img/Thevocalist.jpg' %} " alt="MTSE " class="img-fluid "><br><br></a>
                            <a href="/events/#thevocalist " class="primary-btn ">The Vocalist<span class="lnr lnr-arrow-right "></span></a><br>
                        </div><br>
                        <div class="col-md-4 " style="padding: 2mm ">
                            <a href="{% static 'img/ishtiharposter.jpg' %} " class="img-pop-up ">
                                <img src="{% static 'img/istehaar.jpeg' %} " alt="MTSE " class="img-fluid "><br><br></a>
                            <a href="/events/#istehaar " class="primary-btn ">इश्तिहार-ए-कला<span class="lnr lnr-arrow-right "></span></a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Banner Area -->
<!-- Start Achivement Area -->
<!-- End Skill Area -->
<!-- Start Carousel Area -->
<div id="carouselExampleControls" class="carousel slide extraCara" data-ride="carousel">
    <div class="carousel-inner caraBox">
        <div class="carousel-item active ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img\mtseposter.jpeg' %} " alt="mtse " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7 ">
                        <div class="carousel-content ">
                            <h2 class="text-white ">MTSE 2021</h2>
                            <p class="text-white mb-30 ">
                                BRACE YOURSELF! Navprayas brings back the flagship event MTSE (in a complete ONLINE way). Get your pen and mind ready to hustle with bundles of questions.
                            </p>
                            <a href="http://link.navprayas.in/mtse " class="primary-btn white " target="_blank ">Register Now<span class="lnr lnr-arrow-right "></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/navrachna2021.jpg' %} " alt=" " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7">
                        <div class="carousel-content">
                            <h2 class="text-white">NavRachna</h2>
                            <h5 class="text-white mb-20">Create with what you have</h5>
                            <p class="text-white mb-30">Sit tight and be ready to portray your creativity into exciting models. "NavRachna"- Create with what you have, a model making competition is back with a twist of using household materials for your creative models and get a
                                chance to prove the worth of your innovative ideas. Come forward and materialize your bizarre visualization.
                            </p>
                            <a href="http://url.navprayas.in/navrachna-2021" class="primary-btn white">Register Now<span
                    class="lnr lnr-arrow-right"></span></a>
                            <a href="{% static 'rules/navrachnarules.pdf' %}" class="primary-btn white ml-lg-2 mt-1">Know more<span class="lnr lnr-arrow-right"></span></a></br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/swd2021.jpeg' %} " alt=" " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7">
                        <div class="carousel-content">
                            <h2 class="text-white">SyncWithDance</h2>
                            <h5 class="text-white mb-20">Bring It: The Next Level!</h5>
                            <p class="text-white mb-30">Hola hoofers! NAVPRAYAS’21 is transpiring it's one of the most glamorous events, “SyncWithDance”- Bring It: The Next Level!. Ignite the spark that gets you dancing, it's time to put on your dancing shoes, strut your stuff and
                                tune yourself to the beats. Electrify the stage with your astonishing moves and boost up the competition.
                            </p>
                            <a href="http://url.navprayas.in/SyncWithDance-2021" class="primary-btn white">Register Now<span
                    class="lnr lnr-arrow-right"></span></a>
                            <a href="{% static 'rules/swd_round1.pdf' %}" class="primary-btn white ml-lg-2 mt-1">Know more<span class="lnr lnr-arrow-right"></span></a></br>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/kaavyakala21.jpeg' %} " alt=" " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7 ">
                        <div class="carousel-content ">
                            <h2 class="text-white ">Kaavyakala</h2>
                            <h5 class="text-white mb-20 ">Spill the Ink</h5>
                            <p class="text-white mb-30 ">Yahallo Inkers!!<br> “Kaavyakala”- Spill the Ink, one of the unsung events of NAVPRAYAS has come back to express the power of your ink. The festival of mystical writers and poets has arrived. Be ready to weave the words into
                                a magical web of stories/poems that will inspire, elate the readers and heighten up the bar of competition.

                            </p>
                            <a href="http://url.navprayas.in/kaavyakala-2021 " class="primary-btn white ">Register Now<span
                  class="lnr lnr-arrow-right "></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/vocalist.jpg' %} " alt=" " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7 ">
                        <div class="carousel-content ">
                            <h2 class="text-white ">The Vocalist</h2>
                            <h5 class="text-white mb-20 ">Open Mic Contest</h5>
                            <p class="text-white mb-30 ">Gear up folks! NAVPRAYAS'21 is all set to launch “The Vocalist” - Open Mic Contest, a singing competition for the very first time. Hold your horses, wake up the singer within you and set forth a miraculous performance to make
                                it noteworthy. Since the platform is all settled up to showcase the veiled singing talents, let the Mozart inside you rise.
                            </p>
                            <a href="http://url.navprayas.in/vocalist-2021 " class="primary-btn white ">Register Now<span
                    class="lnr lnr-arrow-right "></span></a>
                            <a href="{% static 'rules/vocalist_rules.pdf' %} " class="primary-btn white ml-lg-2 mt-1 ">Know more<span class="lnr lnr-arrow-right "></span></a></br>
                            <!-- <a href="{% static 'rules/navRachnaSubmissionTutorial.pdf' %} " class="primary-btn white mt-1 ">Submission Tutorial<span class="lnr lnr-arrow-right "></span></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/ishtiharposter.jpg' %} " alt="इश्तिहार-ए-कला " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7 ">
                        <div class="carousel-content ">
                            <h2 class="text-white ">इश्तिहार-ए-कला</h2>
                            <h5 class="text-white mb-20 ">Awareness by Art</h5>
                            <p class="text-white mb-30 ">
                                NAVPRAYAS 2021 has released the second event: a poster making event (non-competitive awareness campaign) "ISHTIHAR-E-KALA(Awareness by Art) ", which is for EVERYONE!!!<br>Keeping the current scenario in mind and thinking
                                about the coming years, let the artist inside you arise and spill the colours to create vibrant posters for a great noble cause of making our society aware.
                            </p>
                            <!-- <a href="http://url.navprayas.in/ishtihar-e-kala " class="primary-btn white " target="_blank ">Register<span
                class="lnr lnr-arrow-right "></span></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/webinar1.jpeg' %} " alt=" " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7 ">
                        <div class="carousel-content ">
                            <h2 class="text-white ">Awareness Programme on COVID-19</h2>
                            <p class="text-white mb-30 ">
                                As we all are well aware of the current scenario of COVID-19, NAVPRAYAS team is pleased to announce the very first webinar of 2021 on “AWARENESS PROGRAMME ON COVID-19” with well-known speakers: Community Leader Mr. Prem Narayan Prasad, Social Activist
                                Mr. Suraj Kumar, Dr. Kumar Vikram and IRS Pitamber Kumar.</p>
                            <a href="http://url.navprayas.in/webinar-covid19 " class="primary-btn white " target="_blank ">Watch Now<span
                class="lnr lnr-arrow-right "></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/puzzle21.jpeg' %} " alt=" " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7 ">
                        <div class="carousel-content ">
                            <h2 class="text-white ">Puzzle Race</h2>
                            <h5 class="text-white mb-20 ">Let The Wits Race Against Time</h5>
                            <p class="text-white mb-30 ">
                                No need to feel lethargic anymore peeps! Get ready to solve some brain teaser problems as well as mind-boggling puzzles with fun to do. NAVPRAYAS 2021 is thrilled to announce one of its iconic events: “PUZZLE RACE- Let The Wits Race Against Time”</p>
                            <!-- <a href="http://url.navprayas.in/puzzle-race-2021 " class="primary-btn white " target="_blank ">Register Now<span
                class="lnr lnr-arrow-right "></span></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/career2021.jpeg' %} " alt="career counselling " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7 ">
                        <div class="carousel-content ">
                            <h2 class="text-white ">Career Counselling</h2>
                            <p class="text-white mb-30">
                                A guide for choosing the right career path is a major aspect in one's life. A decision under the right guidance and with the right information is way better than taking clueless decisions. But don't worry, Navprayas is back again with "Career Counselling
                                " for everyone where professionals will be sharing their experiences and will guide you to the right path.
                            </p>
                            <a href="http://url.navprayas.in/career-counselling " class="primary-btn white ">Register<span
                class="lnr lnr-arrow-right "></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-md-4 ">
                        <div class="carousel-thumb ">
                            <img src="{% static 'img/codemantra21.jpeg' %} " alt="career counselling " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7 ">
                        <div class="carousel-content ">
                            <h2 class="text-white ">Code Mantra</h2>
                            <h5 class="text-white mb-20 ">Debug your soul</h5>
                            <p class="text-white mb-30">
                                Time to heat up your system! The next exciting event of NAVPRAYAS'21 has been announced, “CODE MANTRA- Debug your Soul”. Have FOMO of getting TLE and Runtime Error? Code with us and improvise your coding skill. So, HYPE UP!! And create your own dazzling
                                identity via coding. Are you ready to code?
                            </p>
                            <a href="http://url.navprayas.in/code-mantra-2021 " class="primary-btn white ">Register Now<span
                class="lnr lnr-arrow-right "></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Left-Right Carousel-->
    <a class="carousel-control-prev carouselButt" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next carouselButt" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}