{% extends 'navprayas/base.html' %}
{% load static %}

{% block title %}Navprayas Home{% endblock %}

{% block content %}

	<!-- Start Banner Area -->

	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-between">
				<div class="col-lg-6 col-md-7 col-sm-8">
					<div class="banner-content">
							<div>
									<marquee behavior="scroll" direction="left"><h3>Registration for Coding Launchpad Webinar is <span style='color: red'>live now!</span></h3></marquee>
									<a href="http://tiny.cc/webinar-navprayas" class="primary-btn">Click here to register</a>
								</div><br>
						<h1 style="font-family: algerian">NAVPRAYAS</h1>
						<h3 style="font-family: algerian">(A GROUP OF INNOVATIVE THOUGHTS)</h3>
						<p>Student-run non-profit voluntary organisation to promote development of society</p>
						<a href="/about" class="primary-btn">Know more<span class="lnr lnr-arrow-right"></span></a>
					</div>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-4">
					<!-- <img src="{% static 'img/PM.gif' %}" alt="" class="img-fluid"> -->
					<img src="{% static 'img/banner1.png' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<!-- Start Achivement Area -->
	<!-- End Skill Area -->
	<!-- Start Carousel Area -->
	<section class="section-gap carousel-area">
		<div class="overlay overlay-bg"></div>
		<div class="active-bottle-carousel">
			<div class="item">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-md-4">
							<div class="carousel-thumb">
								<img src="{% static 'img/codeMantra.jpeg' %}" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-xl-6 col-md-7">
							<div class="carousel-content">
								<h2 class="text-white">Navprayas Webinar Series 2020</h2>
								<h5 class="text-white mb-20">Launchpad Webinar for Coding</h5>
								<p class="text-white mb-30">
                  Printf("Hello everyone");<br/>
                  Have you ever thought about how google assistant works, how a robot functions its job etc.? Well, it all depends on coding.
                  Do you find these things difficult to understand but seem interesting to you? Then this is the right time to attend our Special webinar on “How to start coding?”  which offers a lot of exciting technical and professional knowledge.

                </p>
								<a href="http://tiny.cc/webinar-navprayas" class="primary-btn white">Register Now<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-md-4">
							<div class="carousel-thumb">
								<img src="{% static 'img/codeMantra.jpeg' %}" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-xl-6 col-md-7">
							<div class="carousel-content">
								<h2 class="text-white">Navprayas Webinar Series 2020</h2>
								<h5 class="text-white mb-20">Launchpad Webinar for Coding</h5>
								<p class="text-white mb-30">
                  Printf("Hello everyone");<br/>
                  Have you ever thought about how google assistant works, how a robot functions its job etc.? Well, it all depends on coding.
                  Do you find these things difficult to understand but seem interesting to you? Then this is the right time to attend our Special webinar on “How to start coding?”  which offers a lot of exciting technical and professional knowledge.

                </p>
								<a href="http://tiny.cc/webinar-navprayas" class="primary-btn white">Register Now<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>
	</section>
	<!-- End Carousel Area -->
{% endblock %}








